@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.social-icon{
    width: 15px !important;
    height: 15px !important;
    margin-left: 15px;
    
}

.social-icon:hover{
    transform: scale(2);
    animation-delay: 0s;
}


.nav-icons{
margin-left:10% ;
display: flex;
align-items: start;
box-sizing: border-box;

}

.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-right: 5vw;
    font-family: "Rubik", sans-serif;
    font-size: 0.6rem;
    align-items: start;
    margin: 0px;
    font-weight: 700;

}


li > a{
    color: white;
    text-decoration: none;

}


ul > li{
    list-style-type: none;

}

.links:hover{
    transform: scale(1.5);
    animation-delay: 0s;

}

.nav-container{
    display:flex;
    justify-content: space-between;
    margin-top: 0.3vh;
    box-sizing: border-box;

}





