.ProductDetails-container{
    display: flex;
    align-items: center;
    width: 50vw;
    height: 70vh;
    @media (max-width: 760px) {
        width: 350px;
    }

}

.suitimage{
 width: 20vw;
 height: 70vh;
 animation-name: bouncing;
 animation-duration: 2s;
 animation-delay: 0s; 
 @media (max-width: 760px) {
    display: none;
}


}


.btn-dropdown-size{
    cursor: pointer;
    width: 10rem;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0.1rem;
    border: 0px;
    background-color: rgb(228, 226, 226);
    outline: none;

}

.size-text{
    color: rgb(80, 80, 80);
    font-weight: 400;
}

.size-label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 900;
    padding-right:1rem;
    gap: 1rem;
}




.num-qty{
    display: flex;
    justify-content: center;
    width: 3rem;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0.4rem;
    border: 1px solid rgb(37, 36, 36);
    box-shadow: 1px 0.5px 5px  rgb(220, 220, 220) inset;
    margin: 0px;
}

.qty{
    display: flex;
    justify-content:start;
    flex-wrap: wrap;
    gap: 0.3rem;
    align-items: center;
    padding: 1rem;
}

.btn-add-to-cart{
    width:15vw ;
    height: 5vh;
    border-radius: 4px;
    background-color: rgb(37, 36, 36);
    color: white;
    font-weight: 900;
    cursor: pointer;
    border: 0px;
    @media (max-width: 760px) {
        font-weight: 400;
    }

}
.btn-add-to-cart:hover{
    transform: translateY(-0.2rem);
    box-shadow: 3px 2px 10px black;
}
.btn-add-to-cart:active{
    transform: translateY(0rem);
    box-shadow: none;
    background-color: gray;

}

.sizes-options{
   background-color: rgb(228, 226, 226);
    height: 15vh;
    width: 10rem;
    position: absolute;
    top: 6.5vh;
    right: 0vw;
    overflow: auto;

    @media (max-width: 760px) {
        height: 13vh;
    }

}


.hidden{
    display: none;
}


.neg-qty:active, .pos-qty:active{
    transform: scale(1.2);
}

.neg-qty, .pos-qty{
    transform: scale(1.5);
    cursor: pointer;
}

.drop-down-container{
    position: relative;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: end;

}
