.nav-base{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2.5vw;
    gap: 1rem;
    
}

.nav-base-links{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    flex-basis: fit-content;
    font-size: 0.8vw;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;

}

.wear-options{
    background-color: #454545;
     height: 20vh;
     border-radius: 0.7rem;
     width: 5rem;
     position: absolute;
     top: 15vh;
     right: 30vw;
     overflow: auto;
 }

 .cart-options{
    background-color: #454545;
    height: 50vh;
    border-radius: 0.7rem;
    width: 15rem;
    position: absolute;
    top: 11vh;
    right: 5vw;
    overflow: auto;
 }

 .num-cart{
    position: absolute;
    top: 8vh;
    right: 5.5vw;
    border-radius: 1rem;
    padding: 0.1rem;
    color: white;
    background-color: red !important;
    font-size: 0.5rem;
 }
 
.nav-base-links> *{
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
    @media (max-width: 760px) {
        display: none;

    }


}

.links-base{
border-bottom: 1px solid transparent;
padding-bottom: 0.8rem;
position: relative;
}



.links-base:after{
    content: " ";
    display: block;
    width: 1.5rem;
    height: 3px;
    background-color: transparent;
    position: absolute;
    top: 1.3rem;
}

.active :after{
    background-color: #454545;
}

li #second-li-nav-base{
    display: flex;
    align-items: center;
}

.mobile-nave{
    display: none;
    @media (max-width: 760px) {
        display: block;

    }

}