.card-cover{
    width: 15vw;
    height: 40vh;
    padding: 10px;
    background-image: url("../../DSC05329-1365x2048.jpg");
    cursor: pointer;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;

    @media (max-width: 760px) {
        height: 30vh;
        width: 20vh;

    }
}

.card-cover:hover{
    /* transform: scale(1.1); */
    box-shadow: 1px 1px 10px gray;
    filter:contrast(1.1);
    
}
.BsSuitHeart {
    color: white !important;
}

.BsSuitHeart:hover{
    transform: scale(1) !important;
}

.BsSuitHeart-active{
    color: rgb(74, 27, 27) !important;
    transform: scale(1.5) !important;

}

.card-text{
    color: white;
    background-color: rgb(35, 33, 33);
    padding-left: 1px;
    font-size:0.5rem;
    height: 7vh;
    padding: 0.3rem;
}



.card-footer{
    font-family: "Rubik", sans-serif;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0%;

}
.quick-view{
    color: white;
    background-color:gray ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2vh;
    font-weight: 900;
    font-size:0.6rem;

}
.quick-view:hover{
    color: gray;
    background-color:white;
}

.darkBgCard{
    filter:blur(3px);
}

.cardiShoppingBag:hover{
    transform: scale(1.5) !important;
}

.cardiShoppingBag:active{
    transform: scale(0.5) !important;
}